.crop-yield form{
    display: flex;
    flex-direction: column;
}
.crop-yield{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.crop-yield form input{
    padding: 10px;
    width: 100%;
}
.crop-yield form label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.crop-yield .crop-yield-btn{
    background-color: rgb(3, 99, 209);
    height: 38px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: auto;
    font-size: 1.2rem;
    outline: none;
    border-radius: 4px;
}
.crop-yield .result{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}