#tools-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    overflow-y: scroll;
    cursor: pointer;
    scroll-snap-type: x mandatory;
}
.tools-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    scroll-snap-align: center;
    min-width: 30%;
    min-height: 440px;
    padding: 30px 30px 50px 30px;
    background-position: 25px;
    background-size: cover;
    box-shadow: rgba(31, 35, 37, 0.05) 0px 10px 20px;
    border-radius: 16px;
    transition: transform .3s ease-in-out;
    flex-shrink: 0;
    position: relative;
}
.tools-box .tools-error{
    position: absolute;
    background-color: #2dc3d0;
    color: #fff;
    padding: 3px 12px;
    font-size: 1.2rem;
    top: 0;
    right: 0;
    border-top-right-radius: 4px;
}
#tools-container::-webkit-scrollbar{
    display: none;
}
.tools-img img{
    min-width: 75px;
    min-height: 75px;
}
.tools-box:hover{
    transform: translateY(-10px);
}
.tools-features{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tools-features li{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
